* {

    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

h2, h3, a {

    color: darkcyan;
    text-decoration: none;

}

body {

    background-color: rgb(40, 40, 40);
    color: wheat;

}

main {

    margin: 1%;

}

header {

    background-color: darkcyan;
    color: dark;
    height: 15vh;
    display: flex;
    margin-bottom: 1%;

}

img {

    width: 10vh;
    padding-top: 2%;
    padding-bottom: 2%;

}

h5 {

    margin-bottom: 1%;

}

.projetos {

    display: flex;
    padding: 1%;
    text-align: center;

}

footer {

    display: flex;
    height: 15vh;
    background-color: darkcyan;

}

footer img {

    padding: 0;

}

.tecs {

    margin-bottom: 1%;

}